SITE_URL=http://localhost:3000
GITHUB_USERNAME=Niinh
GITHUB_SYNC_MODE=all
GITHUB_PROJECT_TOPIC=portfolio
GITHUB_EXCLUDED_REPOS=Niinh
GITHUB_TOKEN=
GITHUB_WEBHOOK_TOKEN=
GITHUB_WEBHOOK_URL=
GITHUB_REVALIDATE_SECRET=
NETLIFY_BUILD_HOOK_URL=
